/vendor/
/node_modules/
/.env
.env.*
/storage/logs/
/storage/cache/
/tmp/
/*.log
/.idea/
/docker/mysql/data/
/modules/bank_monobank/storage/
/modules/bank_privat/storage/
/modules/bank_ukrsib/storage/
/modules/database/config/
/modules/moysklad/storage/
modules/prices/google_credentials.json
/modules/openai/storage/
/modules/counterparties/storage/
/scripts/image_audit_results.json
/logs/
*.png
Sampl*.png
Screenshot_*.png

